################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/disasm.VC.VC.opendb
/disasm.VC.db
/.vs/disasm/v14
